<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link href="https://fonts.googleapis.com/css?family=Arvo:400,700&display=swap" rel="stylesheet">
    <title>
    </title>
  </head>
  <body>
  <div style="background-image: url(../images/libros_fondo.jpg); background-repeat: no-repeat;">
    <h1 class="text-center">Bienvenid@ a InVentory</h1>
  </div>

  </body>
</html>
