<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link href="https://fonts.googleapis.com/css?family=Arvo:400,700&display=swap" rel="stylesheet">
    <title>
    </title>
  </head>
  <body>
    <h1 style="color:white">Bienvenido a InVentory</h1>
  </body>
</html>
